@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}

@layer utilities {
  .font-signature {
    font-family: 'Great Vibes', cursive;
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee-reverse {
    animation: marquee-reverse 30s linear infinite;
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0);
    }
  }

  /* Force reload */
}